@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 body{
    font-family: 'Outfit', sans-serif ;
    background-color: hsl(212, 45%, 89%) ;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 15px;


 }
 .container{
    width: 350px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
.card{
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem;
}
.card img {
    width: 100%;
    border-radius: 1rem;

}
.text {
    padding: 1rem;
}
.text h2 {
    color: hsl(218, 44%, 22%);
}
.text p {
    padding: 1rem;
    color: hsl(220, 15%, 55%);
}